[Unit]
Description=Kingscliff Sands Thermal Printer
After=multi-user.target

[Service]
ExecStart=/var/script/thermal_printer_test/venv/bin/python3 app.py
Restart=always
User=root
Group=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=my_script

[Install]
WantedBy=multi-user.target



