annotated-types==0.7.0
appdirs==1.4.4
APScheduler==3.10.4
argcomplete==3.1.1
async-timeout==4.0.3
certifi==2024.6.2
charset-normalizer==3.3.2
idna==3.7
Pillow==10.0.0
protobuf==4.21.12
pydantic==2.8.2
pydantic-settings==2.3.4
pydantic_core==2.20.1
pypng==0.20220715.0
pyserial==3.5
python-dotenv==1.0.0
python-escpos==2.2.0
pytz==2024.1
pyusb==1.2.1
PyYAML==6.0.1
qrcode==7.4.2
redis==5.0.4
requests==2.32.3
schedule==1.2.0
six==1.16.0
typing_extensions==4.7.1
tzlocal==5.2
urllib3==2.2.1
